body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #f5ccf5 10%, #b8fed4 80%);
    
}
*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: sticky;
    top: 0;
    z-index: 50;
    /* left: 0;
    right: 0; */
    /* width: 100%; */
 }
 
 .link-homepage {
    margin: 20px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #faf7f7;
    text-decoration: none;
 }
 
 .link-homepage:hover {
    color: rgb(245, 222, 13);
    text-shadow: 1px 1px #ffffff;
 
 }
 
 .btn-login {
    font-size: 15px;
    border-radius: 20px;
    padding: 11px;
    border: none;
 }
 
 .btn-login:hover {
    text-shadow: 1px 1px #ffffff;
 
 }
.container{
    height: 450px;
    width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
   .img-city{  
     margin: 5px;
     height: 450px;
     width: 500px;
     border:3px solid ;
     box-shadow: 0px 0px 4px 1px black;
     border-radius: 20px;
   }
 
  .img-city:hover{
     transform: scale(1.1);
     transition: 3s;
 } 
 .text-quotes{
    text-align: center;
    font-size: 50px;
    word-spacing: 25px;
    color: #ff9900; 
    font-weight: bolder;  
  }

 .img-city-special{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow:0 0 4px 2px #ff9900;
 }
 .img-city-special:hover{
    transform: scale(1.1);
    transition: 3s;
 
 }
 


/*.heading{
    font-size: 100px;
    font-style: inherit;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(green blue white yellow);
}*/
/* .container1{   *
   background-repeat: no-repeat;
   background-size: cover;
     height: 600px;
 } */
    
.text1{
    font-size: 25px;
    padding: 15px;
    color: rgb(227, 235, 227);
    font-weight: bold;
    text-align: right;
}
.heading-1{
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;
}
.text2{
    text-align: justify;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
}
.place-heading{
    font-size: 40px;
    text-align: center;

 }
.card1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.placelink{
    text-decoration: none;
    color: black;
    cursor: pointer;
 
  }
.box1{
      height: 200px;
      width: 300px;
     border-radius: 15px;
     padding: 20px;
     margin: 10px;  
}
.img{
    height: 200px;
    width: 320px;
    border-radius: 20px;
}
.img:hover{
    transform: scale(1.1);
    transition: 1s; 
    box-shadow: 0 0 10px 2px rgb(34, 225, 246);
}
.text3{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: rgb(1, 14, 1);
}
.map{
    margin-top: 20px;
    padding: 5px;
}

.hotel-name{
    display:flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.hot{
    background-color:  #fff5cc;
    color: #ff0000;
    font-size: 30px;
    padding: 10px;
    margin: 12px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border:1px solid  #ff8080;
    margin-top: 20px;
  
}
.hotel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hotel-img{
    width: 420px;
    height: 250px;
    border-radius: 20px;
}
.hotel-card{
    width: 420px;
    height: auto;
    background-color: #fff5cc;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
.hotel-card:hover{
    box-shadow: 0 0 5px 1px black;
}

.hotel-name1{
    padding: 10px;
    margin-left: 15px;
}
p{
    text-align: justify;
    padding: 10px;
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .link-homepage {
       margin: 20px;
       margin-top: 30px;
       font-size: 25px;
       font-weight: bold;
       color: #faf7f7;
       text-decoration: none;
    }
    
    .container{
       height: 400px;
       width: 500px;
       margin-top: 40px;
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
     
     .img-city{  
       /* margin: 5px; */
       display: block;
       margin-left: auto;
       margin-right: auto;
       height: 360px;
       width: 450px;
       border:3px solid ;
       box-shadow: 0px 0px 4px 1px black;
       border-radius: 20px;
     }
     .text-quotes{
        text-align: center;
        font-size: 45px;
        word-spacing: 25px;
        color: #ff9900; 
        font-weight: bolder;  
      }
     .img-city-special{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        /* margin-left: 100px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        /* border: 2px solid #ff9900; */
        box-shadow:0 0 4px 2px #ff9900;
     }
     .card1{
        display: flex;
        flex-direction: row;
        margin-top: 30px; 
        padding: 15px; 
        justify-content:space-evenly;
        flex-wrap: wrap;
    
    }
    .box1{
     width: 250px;
     height: 150px;
     margin: 90px; 
    
  }
   .text3{
     font-size: 25px;
     text-align: center;
     margin-bottom: 50px;
     
  }
    .hotel-container{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
  }
  .heading-1{
     margin-top: 20px;
      font-size: 35px;
      margin-left: 30px;
  }
    }
@media screen and (min-width: 769px) and (max-width: 992px){
    .container{
        height: 400px;
        width: 550px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .img-city{  
        /* margin: 5px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 360px;
        width: 500px;
        border:3px solid ;
        box-shadow: 0px 0px 4px 1px black;
        border-radius: 20px;
      }
      .text-quotes{
        text-align: center;
        font-size:50px;
        word-spacing: 25px;
        color: #ff9900; 
        font-weight: bolder;  
      }
     .img-city-special{
        height: 220px;
        width: 220px;
        border-radius: 50%;
        /* margin-left: 100px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        /* border: 2px solid #ff9900; */
        box-shadow:0 0 4px 2px #ff9900;
     }
     .card1{
        display: flex;
        flex-direction: row;
        margin-top: 30px; 
        padding: 15px; 
        justify-content:center;
        flex-wrap: wrap;
    }
    .box1{
     width: 250px;
     height: 150px;
     margin: 70px; 
    
  }
   .text3{
     font-size: 25px;
     text-align: center;
     margin-bottom: 50px;
  }
  .hotel-container{
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     flex-wrap: wrap;
  }
  
}