body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #f5ccf5 10%, #b8fed4 80%);
    
}
*{
    margin: 0;
    padding: 0;
}

/*.heading{
    font-size: 100px;
    font-style: inherit;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(green blue white yellow);
}*/
.container1{  
   background-repeat: no-repeat;
   background-size: cover;
    height: 600px;
    
}
.city-img{
    height: 500px;
    width: 900px;
    margin-left: 25px;

}
.text1{
    font-size: 25px;
    padding: 15px;
    color: rgb(227, 235, 227);
    font-weight: bold;
    text-align: right;
}
.heading-1{
    font-size: 35px;
    margin-left: 40px;
    margin-top: 0;
}
.text2{
    text-align: justify;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
}
.place-heading{
    font-size: 40px;
    text-align: center;

 }
.card1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box1{
      height: 200px;
      width: 300px;
     border-radius: 15px;
     padding: 20px;
     margin: 10px;  
}
.img{
    height: 200px;
    width: 320px;
    border-radius: 20px;
}
.img:hover{
    transform: scale(1.1);
    transition: 1s; 
    box-shadow: 0 0 10px 2px rgb(34, 225, 246);
}
.text3{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: rgb(1, 14, 1);
}
.map{
    margin-top: 20px;
    padding: 5px;
}

.hotel-name{
    display:flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.hot{
    background-color:  #fff5cc;
    color: #ffcc00;
    font-size: 30px;
    padding: 10px;
    margin: 12px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border:1px solid #ffcc00;
    margin-top: 20px;
  
}
.hotel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hotel-img{
    width: 420px;
    height: 250px;
    border-radius: 20px;
}
.hotel-card{
    width: 420px;
    height: auto;
    background-color: #fff5cc;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}
.hotel-card:hover{
    box-shadow: 0 0 5px 1px black;
}

.hotel-name1{
    padding: 10px;
    margin-left: 15px;
}
p{
    text-align: justify;
    padding: 10px;
}