* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #f9dbfa 20%, #e3ffe4 70%);
}

.cantainer {
    background-image: url("./../img/images/travelhome.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.link-homepage {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #faf7f7;
    text-decoration: none;
}

.link-homepage:hover {
    color: rgb(10, 15, 10);
    text-shadow: 1px 1px #ffffff;

}

.btn-login {
    font-size: 15px;
    border-radius: 20px;
    padding: 11px;
    border: none;
}
.btn-login:hover{
    text-shadow: 1px 1px #ffffff;
   
}

.text-home {
    text-shadow: 3px 3px 4px ;
    position: relative;
    top: 170px;
    left: 350px;
    color: rgb(253, 254, 255);
    font-size: 60px;
}

.search-bar {
    position: relative;
    top: 180px;
    left: 330px;
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border: none;
    padding: 2px;
}

.search-btn {
    position: relative;
    top: 180px;
    left: 350px;
    height: 32px;
    padding: 6px;
    width: 100px;
    background-color: rgb(14, 141, 14);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 20px;

}

.travel-text {
    color: rgb(255, 255, 255);
    position: relative;
    top: 180px;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.famous-place {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.place-card {
    width: 260px;
}

.places {
    box-shadow: 0px 0px 5px rgb(127, 129, 128);
    margin-top: 10px;
    height: 400px;

}

.place-heading {
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    color: rgb(9, 15, 9);

}

.places-img {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(120, 122, 120);
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(146, 149, 146);
    
}

.places-img:hover {
    width: 280px;
    height: 280px;
    border: 3px dashed rgb(97, 244, 97);
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgb(128, 238, 128);
    transition: 0.5s;
}

.placename {
    text-align: center;
    color: rgb(13, 25, 13);
}

.why-travel {
    display: flex;
    flex-direction: row;
    height: 500px;
    position: relative;
    top: 10px;
    border-radius: 0px 0px 10px black;
    border: 1px solid black;

}

.why-travel-img {
    height: 400px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0px 5px 10px rgb(135, 130, 130);
}
.why-travel-img:hover{
   box-shadow: 2px 2px 5px rgb(241, 199, 148);
}

.why-img {
    padding-left: 10px;
    padding-top: 30px;
   
}
.why-text {
    font-size: 20px;
    padding: 30px;

}

.why-traveltext {
    font-size: 25px;
    padding: 20px;
    text-align: justify;
}

.heading-why {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    background-color: rgb(130, 125, 125);
    color: rgb(5, 5, 5);
    box-shadow: 0px 0px 5px rgb(236, 116, 116);
}

.marathi-quotes {
    font-size: 30px;
    font-weight: 500;
    color: rgb(7, 141, 7);
}

.container-home-places {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 250px;
    align-items: center;

}

.home-place {
    width: 200px;
    height: 200px;


}

.container-home-places {
    margin-top: 15px;
}

.home-place-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 0px 5px 1px rgb(40, 39, 39);
}