* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #f9dbfa 20%, #e3ffe4 70%);
    
}

.cantainer {
    background-image: linear-gradient(rgba(53, 52, 52, 0.9), rgba(62, 62, 62, 0.8)),
        url("./../img/images/travelhome.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.9;
}

.dream {
    margin-top: 100px;
}

.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: sticky;
    top: 0;
    /* left: 0;
    right: 0; */
    /* width: 100%; */
}

.link-homepage {
    /* margin-left: 40px; */
    margin: 10px; 
    font-size: 20px;
    font-weight: bold;
    color: #faf7f7;
    text-decoration: none;
    padding: 10px;
}

.link-homepage:hover {
    color: rgb(245, 222, 13);
    text-shadow: 1px 1px #ffffff;

}


.text {

    text-align: center;
    color: rgb(249, 195, 0);
    font-size: 50px;
}

.searchbar {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    width: 500px;
    margin-left: 300px;
    border-radius: 10px;
}

.subtext {
    margin-top: 10px;
    font-size: 20px;
    color: #f5d314;
    margin-left: 320px;
}


.travel-text {
    color: rgb(255, 255, 255);
    position: relative;
    top: 180px;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.famous-place {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  
}

.place-card {
    width: 260px;
}

.places {
    box-shadow: 0px 0px 5px rgb(127, 129, 128);
    margin-top: 10px;

}

.place-heading {
    font-size: 35px;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    text-align: center;
    color: rgb(9, 15, 9);
}

.places-img {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(120, 122, 120);
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(146, 149, 146);
}

.places-img:hover {
    width: 210px;
    height: 210px;
    border: 3px dashed rgb(97, 244, 97);
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgb(128, 238, 128);
    transition: 0.5s;
}

.placename {
    text-align:start;
    font-size: 18px;
    margin-left: 30px;
    color: rgb(13, 25, 13);
}

.places-name {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: none;
}

.why-travel {
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 10px black;
    border: 1px solid black;
    z-index: 50;
    color: aliceblue;
    
}

.why-travel-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0px 5px 10px rgb(135, 130, 130);
    z-index: 50;
  margin: 10px;
}

.why-travel-img:hover {
    box-shadow: 2px 2px 5px rgb(241, 199, 148);
}
.whyheading{
    font-size: 30px;
}


.why-text {
    font-size: 10px;
    padding: 10px;
    color: black;
}

.why-traveltext {
    font-size: 20px;
    text-align: justify;
}

.heading-why {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    background-color: rgb(130, 125, 125);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(236, 116, 116);
}

.marathi-quotes {
    padding: 5px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(7, 141, 7);
}

.container-home-places {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
    align-items: center;
    flex-wrap: wrap;
   

}

.home-place {
    width: 140px;
    height: 140px;
}


.container-home-places {
    margin-top: 0px;
}

.home-place-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 0px 5px 1px rgb(40, 39, 39);
    align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .link-homepage {
        margin: 20px;
        margin-top: 30px;
        font-size: 20px;
        color: #faf7f7;
        text-decoration: none;
    }

    .text {

        text-align: center;
        color: rgb(249, 195, 0);
        font-size: 40px;
    }

    .subtext {
        margin-top: 10px;
        font-size: 25px;
        color: #f5d314;
        margin-left: 20px;
    }

    .searchbar {
        margin-top: 20px;
        font-size: 20px;
        padding: 5px;
        width: 400px;
        margin-left: 90px;
        border-radius: 10px;
    }

    .container-home-places {

        flex-direction: row;
        height: 410px;

        flex-wrap: wrap;
        

    }

    .home-place {
        margin-top: 10px;
    }

    .place-heading {
        font-size: 30px;

    }

    .famous-place {
        height: 500px;
    }

    .places-img {
        width: 200px;
        height: 200px;

        border-radius: 20px;

    }

    .places-img:hover {
        width: 210px;
        height: 210px;
        border: 3px dashed rgb(97, 244, 97);
        border-radius: 10px;
        box-shadow: 0px 0px 9px rgb(128, 238, 128);
        transition: 0.5s;
    }

    .placename {
        font-size: 20px;

        color: rgb(13, 25, 13);
    }

    .heading-why {
        font-size: 20px;
        text-align: center;
        padding: 10px;

    }

    .why-travel-img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
       display: block;
       margin-left: auto;
       margin-right: auto;
        box-shadow: 0px 5px 10px rgb(135, 130, 130);
        z-index: 50;
    }
    .why-travel{
        display: flex;
        flex-direction: column;
    }



}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .search {}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .search {}
}